.dd-container {
    width: 30%;
    margin: 50px 0px 0px 50px;
}

.btn {
    border: solid 1px gray;
    border-radius: 4px;
    background-color: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin: 0px;
    transition: background-color .5s;
}

.btn:focus {
    outline: none;
}

.dd-options {
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    animation: text .75s 1;
}

.dd-options p {
    padding: 10px;
    border-top: solid 1px gray;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    /* transition: background-image 5s; */
    transition: background-color .5s;
}

/* .dd-options p:first-child {
    border: none;
} */

.btn:hover, .dd-options p:hover {
    /* background-image: linear-gradient(to right,lightgrey,white); */
    background-color:rgba(211, 211, 211, 0.5);
}

@keyframes text {
    0% {
        opacity: 0;
        margin: -40px;
    }
}