* {
    font-family: sans-serif;
}

.dd-container {
    width: 30%;
    margin: 50px 0px 0px 50px;
}

.btn {
    border: solid 1px gray;
    border-radius: 4px;
    background-color: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin: 0px;
    /* transform: -50% -50%; */
    transition: background-color .5s;
}

#arrow {
    width: 30px;
    float: right;
    transition: transform 1s;
}
/* .dd-container img:active {
    transform: rotate(-90deg);
} */

.btn:focus {
    outline: none;
}

.dd-options {
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    animation: text1 .75s;
}
.dd-options .active {
    animation: text1 .75s reverse;
}

.dd-options p {
    padding: 10px;
    border-top: solid 1px gray;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    /* transition: background-image 5s; */
    transition: background-color .5s, letter-spacing .5s;
}

/* .dd-options p:first-child {
    border: none;
} */

.btn:hover {
    background-color:rgba(211, 211, 211, 0.5);
}

.dd-options p:hover {
    /* background-image: linear-gradient(to right,lightgrey,white); */
    background-color:rgba(211, 211, 211, 0.5);
    letter-spacing: 4px;
}

@keyframes text1 {
    0% {
        opacity: 0;
        margin: -40px;
    }
}

